<mat-toolbar color="primary">

  <span>LOGO SHOP</span>
  <ul>
    <li routerLinkActive="active1" [routerLinkActiveOptions]="{exact: true}">
      <a (click)="setType('Phone')"
         [ngClass]="{ active: activeClass }"
      >Phone</a>
    </li>
    <li>
      <a (click)="setType('Laptop')"
      >Laptop</a>
    </li>
    <li>
      <a (click)="setType('Tablet')"
      >Tablet</a>
    </li>
    <li>
      <a (click)="setType('Cart')"
         [routerLink]="['/cart']"
      >Cart</a>
    </li>
  </ul>
</mat-toolbar>

<router-outlet></router-outlet>
