<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer class="example-sidenav-drawer" #drawer class="example-sidenav" mode="side">
<ul>
  <li *ngFor="let item of routes">
    <a  mat-list-item [routerLinkActive]="'active-link'" [routerLink]="[item.path]">
      <mat-icon color="primary" class="sidenav-icon" >{{ item.data.icon }}</mat-icon>
      <span>{{ item.data.text }}</span>
    </a>
  </li>
</ul>
  </mat-drawer>

  <div class="example-sidenav-content">
  <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
